[submodule "asoft-platform"]
	path = asoft-platform
	url = https://github.com/andylamax/asoft-platform.git
[submodule "asoft-rx"]
	path = asoft-rx
	url = https://github.com/andylamax/asoft-rx.git
[submodule "asoft-test"]
	path = asoft-test
	url = https://github.com/andylamax/asoft-test.git
[submodule "asoft-io"]
	path = asoft-io
	url = https://github.com/andylamax/asoft-io.git
[submodule "asoft-email"]
	path = asoft-email
	url = https://github.com/andylamax/asoft-email.git
[submodule "asoft-phone"]
	path = asoft-phone
	url = https://github.com/andylamax/asoft-phone.git
[submodule "asoft-klock"]
	path = asoft-klock
	url = https://github.com/andylamax/asoft-klock.git
[submodule "asoft-krypto"]
	path = asoft-krypto
	url = https://github.com/andylamax/asoft-krypto.git
[submodule "asoft-persist"]
	path = asoft-persist
	url = https://github.com/andylamax/asoft-persist.git
[submodule "asoft-money"]
	path = asoft-money
	url = https://github.com/andylamax/asoft-money.git
